In [184]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math


%matplotlib inline

In [114]:
# Markt
märkte = ["GB","F","D","J","CH"]
# Preis = X bezgl. i
preis = [21,17,19,25,28]

In [115]:
# liste in array
märkte_array = np.array(märkte)
preis = np.array(preis)
preis

array([21, 17, 19, 25, 28])

In [116]:
# to perform mathematical opeartions
preis=1000*preis # array mit dem skalar 1000 multiplizieren
preis

array([21000, 17000, 19000, 25000, 28000])

In [117]:
mean = preis.mean().astype(int)
mean = np.array(mean)
mean = np.repeat(mean, 5)
mean

array([22000, 22000, 22000, 22000, 22000])

In [118]:
diff_preis_mean = preis - mean
diff_preis_mean

array([-1000, -5000, -3000,  3000,  6000])

In [119]:
diff_preis_mean_to_sqr = np.square(diff_preis_mean)
diff_preis_mean_to_sqr

array([ 1000000, 25000000,  9000000,  9000000, 36000000])

In [124]:
preis = pd.Series(preis)
preis

0    21000
1    17000
2    19000
3    25000
4    28000
dtype: int64

In [125]:
df_table = pd.DataFrame({
    "Preis":preis,
    "Mittelwert":mean,
    "Diff_PuMittel":diff_preis_mean,
    "Diff_PuMittel^2":diff_preis_mean_to_sqr
                        })
df_table

   Preis  Mittelwert  Diff_PuMittel  Diff_PuMittel^2
0  21000       22000          -1000          1000000
1  17000       22000          -5000         25000000
2  19000       22000          -3000          9000000
3  25000       22000           3000          9000000
4  28000       22000           6000         36000000

In [178]:
df = df_table.iloc[:,[3]]
sum_diff_x_mean_square = df.to_numpy().sum()
x = sum_diff_x_mean_square
x

80000000

In [180]:
x/5 # varianz

16000000.0

In [187]:
np.sqrt(x)

8944.27190999916