In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

## Beispiel 1: Zeitungsabsatz

Anzahl verkaufter Zeitungen pro Tag an einem Kiosk<br>
Ein Kioskbesitzer notiert 200 Tage lang die Anzahl der verkauften Exemplare einer Zeitung.<br>
Urliste sortiert nach Groesse<br>

In [14]:
df_stat_knowhow = pd.DataFrame(
    {
     "Statistikenntnisse" : [6,4,2,1],
     "Geschlecht": ["w","m","m","w"],
     "Monatlicher Geldbetrag in CHF": [499,1345,2050,798]
    })
df_stat_knowhow

   Statistikenntnisse Geschlecht  Monatlicher Geldbetrag in CHF
0                   6          w                            499
1                   4          m                           1345
2                   2          m                           2050
3                   1          w                            798

In [15]:
df_stat_knowhow.describe()

       Statistikenntnisse  Monatlicher Geldbetrag in CHF
count            4.000000                       4.000000
mean             3.250000                    1173.000000
std              2.217356                     681.570246
min              1.000000                     499.000000
25%              1.750000                     723.250000
50%              3.000000                    1071.500000
75%              4.500000                    1521.250000
max              6.000000                    2050.000000

In [16]:
x = df_stat_knowhow["Statistikenntnisse"]

In [17]:
x.describe()

count    4.000000
mean     3.250000
std      2.217356
min      1.000000
25%      1.750000
50%      3.000000
75%      4.500000
max      6.000000
Name: Statistikenntnisse, dtype: float64

In [18]:
v = np.array(0) # vector is a sequence of elements, it can be thought as a list of values
v2 = np.array(1)
np.repeat(v, 21)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [19]:
# Die Variable x repr√§sentiert die einzelnen Wochentage
v1 = np.repeat(0,21)
v2 = np.repeat(1,46)
v3 = np.repeat(2, 32)

In [20]:
a = np.array([[5,4,3,2]])
b = np.array([[1,34,3]])
x = np.concatenate((a,b),axis=1)

In [21]:
df = pd.DataFrame(x)
df

   0  1  2  3  4   5  6
0  5  4  3  2  1  34  3

In [25]:
df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],columns=['dogs', 'cats'])
df

   dogs  cats
0   0.2   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1